absl-py
ajsonrpc
altair
annotated-types
anyio
appdirs
argcomplete
astropy
astroquery
attrs
beautifulsoup4
beniget
bitarray
blessings
blinker
bottle
Brotli
cachetools
catkin-pkg-modules
certifi
cffi
chardet
charset-normalizer
click
colorama
coloredlogs
command-not-found
contourpy
cryptography
cycler
dbus-python
decorator
distro
distro-info
docutils
empy
ephem
exceptiongroup
filelock
flatbuffers
fonttools
fs
fsspec
gast
gevent
gitdb
GitPython
greenlet
grpcio
h11
html5lib
httplib2
huggingface-hub
humanfriendly
idna
importlib-metadata
iniconfig
jax
jaxlib
jeepney
Jinja2
jplephem
jsonschema
jsonschema-specifications
keyring
kiwisolver
lark
launchpadlib
lazr.restfulclient
lazr.uri
llvmlite
lxml
lz4
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
mediapipe
ml_dtypes
more-itertools
mpmath
narwhals
netifaces
networkx
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-ml-py3
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
olefile
onnx
onnxruntime
onnxscript
opencv-contrib-python
opencv-python
opt_einsum
packaging
pandas
Pillow
platformio
plotly
pluggy
ply
poliastro
protobuf
psutil
py
pyarrow
pybind11
pycparser
pydantic
pydantic_core
pydeck
pyelftools
pyerfa
pygame
Pygments
PyGObject
PyJWT
pyparsing
PyQt5
PyQt5-sip
pyserial
pytest
python-apt
python-dateutil
python-dotenv
pythran
pytz
pyvo
pywifi
PyYAML
referencing
regex
requests
rerun-sdk
rich
roman
rpds-py
safetensors
scipy
SecretStorage
semantic-version
sentencepiece
six
smmap
sniffio
sounddevice
soupsieve
starlette
streamlit
sympy
systemd-python
tabulate
tenacity
tokenizers
toml
torch
tornado
tqdm
transformers
triton
typing_extensions
tzdata
ubuntu-advantage-tools
ufoLib2
ufw
unattended-upgrades
unicodedata2
urllib3
uvicorn
wadllib
watchdog
webencodings
websocket
websockets
wsproto
zipp
zope.event
zope.interface
